 .titulo-header {
    text-align: center;
    font-size: 1.8em;
 }

ion-card {
  margin-bottom: 16px;
}

ion-card-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #3880ff;
}

ion-card-content {
  font-size: 1.2rem;
  color: #ffffff;
}


@media (min-width: 1024px) {
    .titulo-header {
        font-size: 3em;
    }

    ion-card-title {
        font-weight: bold;
        font-size: 1.5rem;
        color: #3880ff;
      }
      
      ion-card-content {
        font-size: 1.2rem;
        color: #ffffff;
      }
}