<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">SOBRE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Confidencialidade e Privacidade</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nos comprometemos a proteger a privacidade dos dados dos usuários, seguindo as leis de proteção de dados aplicáveis. Todas as informações compartilhadas conosco serão tratadas com o mais alto grau de confidencialidade.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Uso Responsável</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ao utilizar o aplicativo, os usuários concordam em agir de forma responsável, fornecendo informações precisas e respeitando as regras e diretrizes estabelecidas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Avisos Legais</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      As informações disponibilizadas no aplicativo têm caráter exclusivamente informativo e educacional. Não substituem aconselhamento profissional e não devem ser usadas em situações de emergência ou para necessidades críticas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Quem Somos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Somos uma revolução no mercado de notícias. Nossa plataforma foi criada por um grupo de estudantes altamente qualificados, unidos pelo propósito de oferecer a melhor experiência informativa, aliando agilidade, segurança e simplicidade.
    </ion-card-content>
  </ion-card>
</ion-content>
