<ion-header>
  <ion-toolbar>
    <ion-title>Perfil do Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ user?.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Email:</strong> {{ user?.email }}</p>
      <p><strong>Data de criação:</strong> {{ user?.createdAt | date }}</p>
      <p><strong>Favoritos:</strong> {{ user?.favoritePages.length }} páginas</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="editProfile()">Editar Perfil</ion-button>
</ion-content>
