<ion-header>
  <ion-toolbar>
    <ion-title>Tempo por Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let category of categoryTimes | keyvalue">
      <ion-label>
        <h2>{{ category.key }}</h2>
        <p>Tempo total: {{ (category.value / 1000).toFixed(1) }} segundos</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botão para resetar os tempos -->
  <ion-button expand="full" (click)="resetTimes()">Resetar Tempos</ion-button>
  <ion-button expand="full" (click)="goToAbout()">Sobre o Aplicativo</ion-button>
</ion-content>
