<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ article.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img [src]="article.urlToImage" *ngIf="article.urlToImage" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ article.title }}</ion-card-title>
      <ion-card-subtitle>{{ article.author }} - {{ article.publishedAt }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ article.content }}</p>
    </ion-card-content>
    <ion-button expand="block" color="primary" [href]="article.url" target="_blank">
      Ler mais
    </ion-button>
    <!-- Botão de Compartilhar -->
    <ion-button expand="block" color="secondary" (click)="shareArticle()">
      Compartilhar
    </ion-button>
  </ion-card>
</ion-content>
